.form-container {
    background-color: var(--color-1);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--color-2);
}

.form-label {
    color: #fff;
}

.form-control {
    background-color: var(--color-2);
    color: #fff;
    border: 1px solid var(--color-2);
}

.form-control:focus {
    background-color: var(--color-3);
    border-color: var(--color-3);
    color: #fff;
}

.btn-primary {
    background-color: var(--color-4);
    border-color: var(--color-4);
}

.btn-primary:hover {
    background-color: var(--color-3);
    border-color: var(--color-3);
}